{% extends 'ejemplo_dos/base.html' %}

{% block contenido %}
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            {% if posts %}
                <!-- Featured blog post-->
                <div class="card mb-4">
                    {% if posts.0 %}
                    <a href="#!"><img class="card-img-top" src="{{posts.0.imagen.url}}" alt="..." /></a>
                    <div class="card-body">
                        <div class="small text-muted">{{posts.0.publicado_el}}</div>
                        <h2 class="card-title">{{posts.0.titulo}}</h2>
                        <p class="card-text">{{posts.0.sub_titulo}}</p>
                        <a class="btn btn-primary" href="{% url 'ejemplo-dos-detalle' posts.0.id %}">Leer Mas →</a>
                    </div>
                    {% endif %}
                </div>
                <!-- Nested row for non-featured blog posts-->
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Blog post-->
                        <div class="card mb-4">
                            {% if posts.1 %}
                            <a href="#!"><img class="card-img-top" src="{{posts.1.imagen.url}}" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">{{posts.1.publicado_el}}</div>
                                <h2 class="card-title">{{posts.1.titulo}}</h2>
                                <p class="card-text">{{posts.1.sub_titulo}}</p>
                                <a class="btn btn-primary" href="{% url 'ejemplo-dos-detalle' posts.1.id %}">Leer Mas →</a>
                            </div>
                            {% endif %}
                        </div>
                        <!-- Blog post-->
                        <div class="card mb-4">
                            {% if posts.2 %}
                            <a href="#!"><img class="card-img-top" src="{{posts.2.imagen.url}}" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">{{posts.2.publicado_el}}</div>
                                <h2 class="card-title">{{posts.2.titulo}}</h2>
                                <p class="card-text">{{posts.2.sub_titulo}}</p>
                                <a class="btn btn-primary" href="{% url 'ejemplo-dos-detalle' posts.2.id %}">Leer Mas →</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- Blog post-->
                        <div class="card mb-4">
                            {% if posts.3 %}
                            <a href="#!"><img class="card-img-top" src="{{posts.3.imagen.url}}" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">{{posts.3.publicado_el}}</div>
                                <h2 class="card-title">{{posts.3.titulo}}</h2>
                                <p class="card-text">{{posts.3.sub_titulo}}</p>
                                <a class="btn btn-primary" href="{% url 'ejemplo-dos-detalle' posts.3.id %}">Leer Mas →</a>
                            </div>
                            {% endif %}
                        </div>
                        <!-- Blog post-->
                        <div class="card mb-4">
                            {% if posts.4 %}
                            <a href="#!"><img class="card-img-top" src="{{posts.4.imagen.url}}" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">{{posts.4.publicado_el}}</div>
                                <h2 class="card-title">{{posts.4.titulo}}</h2>
                                <p class="card-text">{{posts.4.sub_titulo}}</p>
                                <a class="btn btn-primary" href="{% url 'ejemplo-dos-detalle' posts.4.id %}">Leer Mas →</a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="card mb-4">
                            {% if posts.5 %}
                            <a href="#!"><img class="card-img-top" src="{{posts.5.imagen.url}}" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">{{posts.5.publicado_el}}</div>
                                <h2 class="card-title">{{posts.5.titulo}}</h2>
                                <p class="card-text">{{posts.5.sub_titulo}}</p>
                                <a class="btn btn-primary" href="{% url 'ejemplo-dos-detalle' posts.5.id %}">Leer Mas →</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <h1>No hay posts</h1>
            {% endif %}
            </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}